body {
  font-family:'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color:rgb(20, 20, 20);
}

p.introcopy {
  line-height: 100%;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 8rem;
  color: #369FCD;
  text-transform: uppercase;
  padding: 2rem 0;
}

@media (max-width: 767px) {
  p.introcopy {
    font-size: 6rem;
  }
  }

/* BUTTONS */

.btn-primary {
  text-transform: uppercase;
  background-color: rgb(54, 159, 205);
  border: 0 !important;
  margin-top: 1rem;
  margin-right: 1rem;
}

.btn-default{
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 1rem;
  margin-right: 1rem;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: rgba(54, 159, 205, 0.8);
    border-color: #1E5775;
  }

  .btn-default:hover {
      background-color: rgba(255, 255, 255, 0.8);
      border-color: rgba(255, 255, 255, 0.8);
    }

  .btn {
    text-transform: uppercase;
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    line-height: 1.2;
  }

  .btn-slack {
    color: #ffffff;
    background-color: #E30862;
    border-color: #;
  }



a.navbar-brand {
  padding: 0px 0px;
}

.app-navbar {
    font-family: 'Oswald', sans-serif;
    font-weight: 200 !important;
    letter-spacing: .05em !important;
    font-size: inherit;
}

a {
    color: #369FCD;
    text-decoration: none;
  }

a:hover {
  color:#369FCD;
  text-decoration: none;
}


img-logo {
  max-width: 100px;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 40%;
  height: auto;
}

::selection {
    background: #6bb6e6;
}

p.introsub, h4.introsub{
  color: white;
}

p.introsub{
  font-size: 3rem;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    line-height: 1.2;
    color: #2d3238;
}

h2.footer {
  font-size: 4.2rem;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

IMG.badges {
  width: 100%;
}

IMG.operablelogo {
  height: 100%;
}

IMG.footerlogo {
  max-width: 100px;
}

  .p-t-md {
    padding-top: 20px !important;
}

.featured-list li {
    position: relative;
    padding-left: 80px;
}

.coc {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 0;
}

@media (min-width: 768px){}
.app-code {
    width: 100%;
    padding:2rem;
}

.app-footer a {
    color: #369FCD;
}

.app-footer a:hover {
    color: #fff;
}

.app-footer {
    padding: 25px 0;
}

.app-code-block {
  background-color: #262F36;
  overflow: hidden;
}

a.launch
{
    color: #6bb6e6 !important;
}

a:hover.launch
{
    color: #81c7ec !important;
}

/* gray block */
.gray {
  background-color: #F4F5F6;
}

.app-ribbon {
  background: #369FCD;
}
